<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="icon" type="image/png" th:href="@{favicon.ico}">
    <meta name="theme-color" content="black">
    <link rel="stylesheet"
          th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}"
          type="text/css">
    <link rel="stylesheet" th:href="@{css/colorful.css}">
    <title th:text="#{site.title}">Clara Barnés - Translations</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"><a class="navbar-brand" href="/">
        <b> CLARA BARNÉS</b>
    </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar11">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar11">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#mission" th:text="#{header.mission}">Mission</a></li>
                <li class="nav-item"><a class="nav-link" href="#career" th:text="#{header.career}">Career</a></li>
                <li class="nav-item"><a class="nav-link" href="#budget" th:text="#{header.budget}">Budget</a></li>
                <li class="nav-item"><a class="nav-link" href="#contactme" th:text="#{header.contact}">Contact</a></li>
            </ul>
            <ul class="navbar-nav d-none d-md-inline-flex">
                <li class="nav-item" th:classappend='${#strings.equalsIgnoreCase(#locale, "en") ? "active" : ""}'><a
                        class="nav-link" onclick="changeLocale('en')">EN</a></li>
                <li class="nav-item" th:classappend='${#strings.equalsIgnoreCase(#locale, "fr") ? "active" : ""}'><a
                        class="nav-link" onclick="changeLocale('fr')">FR</a></li>
                <li class="nav-item" th:classappend='${#strings.equalsIgnoreCase(#locale, "es") ? "active" : ""}'><a
                        class="nav-link" onclick="changeLocale('es')">ES</a></li>
                <li class="nav-item" th:classappend='${#strings.equalsIgnoreCase(#locale, "ca") ? "active" : ""}'><a
                        class="nav-link" onclick="changeLocale('ca')">CA</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center text-white h-100 align-items-center d-flex"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/cover.JPG'); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
    <div class="container py-5">
        <div class="row">
            <div class="mx-auto col-lg-8 col-md-10">
                <h1 class="mb-4 display-4" th:text="#{cover.title}">Translating to understand&nbsp;</h1>
                <p class="lead mb-4" th:text="#{cover.subtitle}">I translate to bring people, knowledge and cultures
                    closer. I like to communicate
                    and help people to communicate and understand each other better.</p>
                <a href="#budget" class="btn btn-lg mx-1 btn-secondary mt-2"><i class="fa fa-fw mr-2 fa-globe"></i><span
                        th:text="#{cover.button.translate}">I need to translate something</span></a>
                <a th:href="@{'https://es.linkedin.com/in/clara-barn%C3%A9s-andreu-37119b109'}"
                   class="btn btn-lg btn-info mx-1 mt-2" target="_blank"><i class="fa fa-linkedin mr-2"></i>LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="" id="mission">
    <div class="container">
        <div class="row">
            <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
                <h2 contenteditable="true" th:text="#{mission.title}">Translating &amp; Interpreting</h2>
                <p class="mb-3 text-justify"><span th:text="#{mission.first.part}">My name is Clara Barnés and my job is to help people who speak different
                    languages communicate without problems. I have a degree in Translation and Interpreting from the
                    UAB.<br>From some years ago I work with</span><strong th:text="#{lang_ca}">catalan</strong>, <strong th:text="#{lang_es}">spanish</strong>, <strong th:text="#{lang_en}">english</strong>
                    <span th:text="#{mission.second.part}">and</span> <strong th:text="#{lang_fr}">french</strong><span th:text="#{mission.third.part}"> for public and private clients doing translations of generic and
                    specialized texts, as well as performing interpretation tasks</span></p>
            </div>
            <div class="col-lg-6"><img class="img-fluid d-block" th:src="@{image/clara-picture.jpg}"></div>
        </div>
    </div>
</div>
<div class="py-5 bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h2 class="mb-3" th:text="#{photos.title}">About me: I like to do sports and, above all, travel ...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2 p-0"><img class="img-fluid d-block" th:src="@{image/geneve_350h.jpg}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-0"><img class="img-fluid d-block" th:src="@{image/jardins_350h.JPG}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-0"><img class="img-fluid d-block" th:src="@{image/krakow_350h.jpg}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-0"><img class="img-fluid d-block" th:src="@{image/laruns_350h.jpg}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-0"><img class="img-fluid d-block" th:src="@{image/road_350h.JPG}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-0"><img class="img-fluid d-block" th:src="@{image/lisbon_350h.jpg}">
            </div>
        </div>
    </div>
</div>
<div class="py-5" id="career">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" th:text="#{career.title}">Some of the partners that I have worked with ...</h1>
                <div class="row">
                    <div class="col-lg-5 col-md-6 p-md-4 col-12"><a href="http://www.bimsa.cat/" target="_blank"><img
                            class="img-fluid d-block" th:src="@{image/bimsa-logo-300h.jpg}" width="1500"></a></div>
                    <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
                        <h4 class="my-3"><b th:text="#{career.bimsa.title}">BIMSA</b></h4>
                        <p class="text-justify" th:text="#{career.bimsa.description}">I have collaborated with BIMSA, doing translations of technical
                            documents of the legal field related to public works tenders from Catalan to Spanish for
                            later publication.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex flex-column justify-content-center order-2 order-md-1 py-4">
                        <h4 class="my-3"><b th:text="#{career.mossos.title}">Mossos d'Esquadra</b></h4>
                        <p class="text-justify" th:text="#{career.mossos.description}">I have collaborated with the police force of Mossos d'Esquadra, through
                            an intermediary company, assisting foreigners in the presentation of complaints: acting as
                            interpreter between the agents and these people, as well as translating their testimonies to
                            translate them into official documents .</p>
                    </div>
                    <div class="col-lg-5 col-md-6 p-md-4 offset-lg-1 order-1 order-md-2 col-12"><a
                            href="https://mossos.gencat.cat/" target="_blank"><img class="img-fluid d-block"
                                                                                   th:src="@{image/mossos-logo-300h.jpg}"
                                                                                   width="1500"></a></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 p-md-4 col-12"><a href="https://www.vopi4.com/" target="_blank"><img
                            class="img-fluid d-block" th:src="@{image/vopi-logo-300h.jpg}" width="1500"></a></div>
                    <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
                        <h4 class="my-3"><b th:text="#{career.vopi.title}">Vopi 4 Business Group</b></h4>
                        <p class="text-justify" th:text="#{career.vopi.description}">I have collaborated extensively with Vopi4 translating the different
                            websites of the companies that make up the group into English and French. Additionally, I
                            have collaborated in the translation into these two languages of technical and legal
                            documents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center bg-dark" id="budget">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 th:text="#{budget.title}">Do you need to translate a document ? Make numbers...</h1>
            </div>
        </div>
        <div class="row justify-content-center" id="contentToWaitId">
            <div class="col-md-6 p-4">
                <h4 class="mb-4" th:text="#{budget.combination.title}">Find the price per word of your translation</h4>
                <form class="">
                    <div class="form-group"><label class="text-left" th:text="#{budget.combination.from}">From</label>
                        <select class="form-control text-capitalize" id="originLanguageSelectId"
                                onchange="fillTargetLanguages()">
                        </select></div>
                    <div class="form-group"><label th:text="#{budget.combination.to}">To</label>
                        <select class="form-control text-capitalize" id="targetLanguageSelectId"
                                onchange="findCombination()">
                        </select>
                    </div>
                </form>
                <p class="mt-3 text-success" id="resultLangToLangId"><strong id="priceBoxId">10</strong> € / <span th:text="#{budget.combination.word}">word</span></p>
            </div>
            <div class="col-md-6 col-6 p-4">
                <h4 th:text="#{budget.file.title}">Select the document to be translated to obtain an approximate budget</h4>
                <div class="form-group"><label id="requirementsFileId" th:text="#{budget.file.conditions}">Only .docx or .doc and 5 MB files allowed</label>
                </div>
                <button type="button" class="btn btn-outline-primary" onclick="uploadFileTrigger()" th:text="#{budget.file.button}">Upload File</button>
                <button type="button" class="btn btn-outline-warning d-none">Reset File</button>
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <input type="file" class="d-none" id="uploadFileInputId" name="file">
                </form>
                <small class="form-text text-muted" th:text="#{budget.file.small}">The file won't be saved in our servers after this operation.</small>
                <div class="row mt-2 d-none" id="resultFileRowId">
                    <div class="col-md-12">
                        <p class="text-success"><span th:text="#{budget.result.first.part}">Words found:</span> <strong id="wordsCounterId">1450</strong> - <span th:text="#{budget.result.second.part}">Estimated cost:</span>
                            <strong id="priceId">123</strong> €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center" id="contactme">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-lg-7">
                <h1 class="mb-4" id="ContactMeTitleId" th:text="#{contactme.title}">Contact me!</h1>
                <h1 class="mb-4 text-success d-none" id="SuccessMessageId"><i
                        class="fa fa-fw mr-2 fa-thumbs-up"></i><span th:text="#{contactme.title.success}">Mail succesfully sent!</span></h1>
                <h1 class="mb-4 text-danger d-none" id="ErrorMessageId" th:text="#{contactme.title.error}">Ups! Something was wrong!</h1>
                <form th:method="POST" th:action="@{/contactme}" id="contactFormId">
                    <div class="form-row">
                        <div class="form-group col-md-12"><input type="text" class="form-control" name="name"
                                                                 th:placeholder="#{contactme.placeholder.name}" required></div>
                    </div>
                    <div class="form-group"><input type="email" class="form-control" name="email" th:placeholder="#{contactme.placeholder.email}" required>
                    </div>
                    <div class="form-group"><textarea class="form-control" name="message" rows="3"
                                                      th:placeholder="#{contactme.placeholder.text}" required></textarea></div>
                    <button type="submit" class="btn btn-primary" id="contactButtonId"><i
                            class="fa fa-fw mr-2 fa-send"></i><span th:text="#{contactme.button}">Send</span></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">© Copyright 2019 - CLARA BARNÉS. <span th:text="#{footer.rights}">All rights reserved.</span>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<script
        th:src="@{'https://code.jquery.com/jquery-3.4.0.min.js'}"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
<script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js'}"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{'https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js'}"></script>
<script th:src="@{js/landing.js}"></script>
<script th:src="@{js/jquery-smooth-scroll.js}"></script>
</body>

</html>